{{#if news}}
<div class="card m-5" style="width: 100%;" data-id='{{news.id}}' data-idUser='{{news.user.id}}' id='newsDetail'>
    <div style='display:flex; justify-content: space-between;'>
        <h1>{{news.title}}
            <img id='editNews' src="/news_static/pen_1.png" style='height: 20px; vertical-align: top; cursor: pointer;'
                alt="edit news" onclick="newsEdit()">
        </h1>
        <div>
            <img id='deleteNews' src="/news_static/bin.png"
                style='height: 20px; float: right;margin: 5px; cursor: pointer;' alt="delete news"
                onclick="newsDelete()">
        </div>
    </div>
    {{#if news.cover}}
    <img class="card-img-top" style="height: 200px; object-fit: cover;" src="{{news.cover}}" alt="">
    {{else}}
    <img class="card-img-top" style="height: 200px; object-fit: cover;"
        src="https://www.fda.gov/files/CDER-whatsnew.png" alt="">
    {{/if}}
    <div class="card-body">
        <p class="card-text">{{news.description}}</p>
        <h6 class="card-subtitle mb-2 text-muted">Автор: <span style='color: lightpink;'>{{news.user.firstName}}</span>
        </h6>
    </div>

    <!-- Блок комментариев -->
    <h2 class="fw-bold lh-1 mb-3" style='margin: 30px;'>Комментарии</h2>
    <!-- Блок, куда ReactJS будет вставлять вёрстку комментариев -->
    <div id="app">
    </div>
    <!-- Подключим ReactJS-скрипт комментариев -->

    {{else}}
    <img src="https://www.un.org/sites/un2.un.org/files/2019/07/404_languages-ru.jpg" alt="">
    {{/if}}

    <script src="/js/comments.js" type="text/babel"></script>

    <script>
        const idNews = document.querySelector('#newsDetail').dataset['id'];
        const idUserNews = document.querySelector('#newsDetail').dataset['iduser'];
        const idUserAuth = getCookie('idUser');
        
        if (idUserNews === idUserAuth) {
            document.getElementById('editNews').style.display = 'inline';
            document.getElementById('deleteNews').style.display = 'block';
        } else {
            document.getElementById('editNews').style.display = 'none';
            document.getElementById('deleteNews').style.display = 'none';
        }

        function newsEdit() {
            window.location.href = `/news/edit/news/${idNews}`;
        }

        function newsDelete() {
            if (confirm('Вы уверены, что хотите удалить новость?')) {
                $.ajax({
                    url: `/news/api/${idNews}`,
                    type: 'DELETE',
                    success: function () {
                        alert('Новость успешно удалена!');
                        window.location.href = `/news/all`;
                    }
                })
            }
        }
    </script>
